cloudflare==3.1.0
PyGithub==2.4.0
python-hcl2==5.1.1
requests==2.32.3
slack_sdk==3.33.1
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
