cloudflare==4.3.1
PyGithub==2.7.0
python-hcl2==7.3.1
requests==2.32.5
slack_sdk==3.36.0
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
