cloudflare==4.3.1
PyGithub==2.9.0
python-hcl2==8.1.2
requests==2.33.1
slack_sdk==3.41.0
anyio==4.11.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp==3.23.0 # not directly required, pinned by Snyk to avoid a vulnerability
